#banner
	.banner_content
		%h1 SPACE NOTE
		%p Um site de notas de outro mundo!
		%button= link_to "Cadastre-se", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Este é o melhor site de notas de todos! #SS"
		%p.name - Manso
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Teve alguma idéia de outro mundo?
				%p Internautelize-se.

			.callout
				%h2 Notes
				%p MAY THE FORCE BE WITH YOU

			.callout
				%h2 Notes
				%p Faça anotações de forma mais divertida e criativa!
#bottom_cta
	.wrapper
		%h2 Caro internauta
		%p Você precisa se cadastrar! Se não, nós te acharemos!
		%button= link_to "Cadastre-seeee!!!", new_user_registration_path

%footer
	%p &copy; Gabriel Filipe e João Zarbielli
