<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos contatando-o para notifica-lo que seu e-mail foi alterado para: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos contatando-o para notifica-lo que seu e-mail foi alterado para: <%= @resource.email %>.</p>
<% end %>
