<p>Hello <%= @resource.email %>!</p>

<p>Alguém solicitou o link para mudança de senha. Para isso, utilize o link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou este serviço apenas ignore este e-mail</p>
<p>A sua senha não será motificada equando não acessar o link abaixo e criar uma nova!</p>
